// Import from root styles
@import '../../../styles/root-style.scss';

header {
	padding: 20px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100vw - 120px);
	background-color: var(--bg-secondary);

	img {
		max-width: 60px;
	}

	nav {
		ul {
			display: inline-flex;
			align-items: center;
			column-gap: 30px;

			li {
				list-style: none;

				a {
					text-decoration: none;
				}
			}
		}
	}
}
